.hello img{ 
  width: 100%;
  height: auto;
  float: left;
  margin-right: 20px;

}

.hello{
  background-color: rgb(245, 193, 21);
  border-bottom: solid white;
}
.hello h1{
  font-family:Georgia ;
  text-align: right;
  padding-right: 10px;
}

.hello h3{
 font-family: Helvetica;
 text-align: right;
 padding-right: 10px;
 font-style:oblique;
 color:white
 ;
}


.hello p {
  font-size:larger;
  text-align: right;
  padding-right: 10px;
}
.about{
  background-color: rgb(245, 193, 21);
  padding-left:10%;
  border-bottom: solid white;
}
.about h1{
  font-family:Georgia;
}
.about h1{
  font-family: Helvetica;
}
.about img{
  float: right;
}
.digtitle{
  background-color: rgb(245, 193, 21);
  font-family:Georgia;
  border-bottom: solid black;
  margin-bottom: 0%;
}
.dig{
  background: url('../img/sunset2.jpg');
  background-size:cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
  

  